:root{
  --main-spacing: 2rem;
  --green-col: #4caf50;
  --main-background: whitesmoke;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--main-spacing);
  text-align: center;
}

*{
  outline: none;
}

header{
  color: rgb(37, 36, 36);
  padding-bottom: 0.1rem;
  width: 100%;
  background: var(--main-background);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(32, 32, 32);
}

p{
  color: white;
}

main{
  display: flex;
  margin-top: var(--main-spacing);
  background: var(--main-background);
}

form{
  display: flex;
  gap: var(--main-spacing);
}




