.App {
  display: flex;
  justify-content: center;
  gap: 20%;
}

#resume {
  border: 1px solid black;
  padding: 2rem;
  margin-top: 2rem;
}

#resume-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
