.generated{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background: #242424;
  }

form{
    width: 100%;
  }

h2{
    margin-top: 1rem;
}

.generated p{
    color: #242424;
    margin: 1rem;
}

.sectionKey{
  background: white;
}

.subKeyValues{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.subKey{
  /* margin: 1rem; */
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.subKey p{
  color: #242424;
}

h3{
  margin-left: 2rem;
}