section{
    padding: 2rem;
}

input{
    padding: 0.5rem;
}

input::placeholder{
    text-indent: 8px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #2f2f30;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 0.75rem;
  }

  .field {
    padding: var(--main-spacing);
    border: 1px solid white;
    background: rgb(32, 32, 32);
  }

  section{
    padding: var(--main-spacing); 
    padding-top: 0.5rem;
}

/* .progress-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .progress-bar {
    width: 0;
    height: 20px;
    background-color: green;
  } */

  .progress-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    width: 100%;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
  }
  