section{
    padding: 2rem;
}

input{
    padding: 0.5rem;
    max-width: 6rem;
    border: none;
    text-align: center;
    
}

input::placeholder{
    text-indent: 4px;
}

h2{
  margin-bottom: 2rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    background: var(--green-col);
    color: white;
  }
  button:focus,
  button:focus-visible {
    border: 1px solid var(--main-background);
  }

  .btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 0.75rem;
    margin-top: var(--main-spacing);
  }

  .field {
    padding: var(--main-spacing);
    border: 1px solid white;
    background: rgb(32, 32, 32);
    width: 6rem;
    display: flex;
    justify-content: center;
  }

  section{
    padding: var(--main-spacing); 
    display: flex;
    flex-direction: column; 
    width: 25%;
    max-width: 7rem;
    align-items: center;
}

  .progress-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    height: 20px;
    width: 10rem;
    margin-bottom: var(--main-spacing);
  }
  
  .progress-bar {
    height: 100%;
    background-color: var(--green-col);
    /* border-radius: 4px; */
  }

  .greenCheckMark::before{
    content: '\2713';
    display: inline-block;
    width: 0;
    animation: drawCheckmark 1s linear forwards;
    color: var(--green-col);
  }

  .greenCheckMark{
    font-size: 2rem;
    overflow: hidden;
    display: inline-block;
    color: var(--green-col);
    position: absolute;
  }

  @keyframes drawCheckmark{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }
  